/*
0 - 600px:  phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :  Big desktop


*/
/*universal selector to cause to a reset to the browser defaults we do not want */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: orange; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.header {
  height: 90vh; }
  .header__logo-box {
    position: absolute;
    /* when using absolute, the parent element which is set to relative is the reference*/
    top: 4rem;
    left: 15rem; }
  .header__logo {
    height: 3.5rem;
    /* sine the height is set the width will be figured out the by the browser*/ }
