.header {
    height: 90vh;

    &__logo-box {
        position: absolute;
        /* when using absolute, the parent element which is set to relative is the reference*/
        top: 4rem;
        left: 15rem;
    }

    &__logo {
        height: 3.5rem;
        /* sine the height is set the width will be figured out the by the browser*/
    }
}