/*universal selector to cause to a reset to the browser defaults we do not want */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // (1 rem = 10px; 10px/16px = 62.5%  

    @include respond(big-desk) {
        //width greater than 1200 - 1800
        font-size: 75% // 1 rem = 12px; 12/16 = 75%
    }

    @include respond(tab-land) {
        //width ,1200
        font-size: 56.25% // 1 rem = 9px; 9/16 = 56.25%
    }

    @include respond(tab-port) {
        //width < 900
        font-size: 56.25% // 1 rem = 8px; 8/16 = 50%
    }

}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3rem;
    background-color: orange;

    @include respond(tab-port) {
        padding: 0;
    }

}